body {
  font-family: sans-serif;
}

ul {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3em;
  list-style: none;
}

tr:first-child th {
  height: 4em;
}

th, td {
  padding: 0.5em;
  vertical-align: top;
  text-align: left;
}

.cell-wrapper {
  position: relative;
  padding-left: 1.5em;
  white-space: nowrap;
}

.metric-label {
  display: block;
  font-size: 0.9em;
}

.metric-group:first-child {
  margin-bottom: 0.5em;
}

.metric-value {
  font-variant-numeric: tabular-nums;
}

.metric-variance {
  font-size: 0.8em;
  color: #0008;
}

.meter {
    width: 1em;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: #e2e2e2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.meter div {
    width: 100%;
    transition-duration: 100ms;
}

.meter:hover .meter-empty {
  flex-grow: 0;
}

.init-time {
    background-color: green;
}

.exec-time {
    background-color: #0fb70f;
}

td {
    width: 11em;
}
